<p>
  home works!
</p>

<button (click)="logIt()">Click here to log</button>


<!--<h4>{{myName}}</h4>-->

<!--<ng-content></ng-content>-->
<!--<p>{{myString}}</p>-->

<!--&lt;!&ndash; One way binding &ndash;&gt;-->
<!--<input [value]="myName" />-->
<!--<input [required]="myBoolean" />-->

<!--&lt;!&ndash; Two way binding &ndash;&gt;-->
<!--<h4>Two way binding</h4>-->
<!--<input [(ngModel)]="myString" />-->
<!--<p>{{myString}}</p>-->

<!--&lt;!&ndash; Custom property binding &ndash;&gt;-->
<!--<h5>Player</h5>-->
<!--<input [value]="topLevelPlayer.name">-->
<!--<h5>Team</h5>-->
<!--<input [value]="topLevelPlayer.team">-->



<!--<br />-->

<!--<button (click)="firePlayerClickEvent($event, 'Testing')">Click Me</button>-->
